.square {
    float:left;
    position: relative;
    width: 30%;
    padding-bottom : 30%; 
    background-position:center center;
    background-repeat:no-repeat;
    border: 2px dashed gray;
    background-size:cover;
    cursor: pointer;
}

.game {
	height: 600px;
	width: 600px;
	padding-top: 10px;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin:auto;
}

.img1{background-image:url('../img/tile1.png');}
.img2{background-image:url('../img/tile2.png');}
.img3{background-image:url('../img/tile3.png');}

.img4{background-image:url('../img/tile4.png');}
.img5{background-image:url('../img/tile5.png');}
.img6{background-image:url('../img/tile6.png');}

.img7{background-image:url('../img/tile7.png');}
.img8{background-image:url('../img/tile8.png');}
.img9{background-image:url('../img/tile9.png');}

.img10{background-image:url('../img/tile10.png');}
.img11{background-image:url('../img/tile11.png');}
.img12{background-image:url('../img/tile12.png');}