.square {
    float:left;
    position: relative;
    width: 30%;
    padding-bottom : 30%; /* = width for a 1:1 aspect ratio */
    background-position:center center;
    background-repeat:no-repeat;
    border-style: dashed;
    border-color: #fefefe;
    background-size:cover; /* you change this to "contain" if you don't want the images to be cropped */
}

.game {
	height: 600px;
	width: 600px;
}
.img1{background-image:url('../img/tile1.png');}
.img2{background-image:url('../img/tile2.png');}
.img3{background-image:url('../img/tile3.png');}

.img4{background-image:url('../img/tile4.png');}
.img5{background-image:url('../img/tile5.png');}
.img6{background-image:url('../img/tile6.png');}

.img7{background-image:url('../img/tile7.png');}
.img8{background-image:url('../img/tile8.png');}
.img9{background-image:url('../img/tile9.png');}

.img10{background-image:url('../img/tile10.png');}
.img11{background-image:url('../img/tile11.png');}
.img12{background-image:url('../img/tile12.png');}