<!doctype html>
<html>
	<head>
		<title> Dōbutsu shōgi </title>
		<link rel="stylesheet" href="{{url_for('static',filename='css/grid.css') }}")>
	</head>
	<body>
	<div class="game">
		<div class="square">
		</div>
		<div class="square">
		</div>
		<div class="square">
		</div>

		<div class="square">
		</div>
		<div class="square">
		</div>
		<div class="square">
		</div>

		<div class="square">
		</div>
		<div class="square">
		</div>
		<div class="square">
		</div>

		<div class="square">
		</div>
		<div class="square">
		</div>
		<div class="square">
		</div>
	</div>

	</body>
</html>