<!doctype html>
<html>
	<head>
		<title> Dōbutsu shōgi </title>
		<link rel="stylesheet" href="{{url_for('static',filename='css/grid.css') }}">
	</head>
	<body>

	<div class="game">
			
		<div class="square img1">
		</div>
		<div class="square img2">
		</div>
		<div class="square img3">
		</div>

		<div class="square img4">
		</div>
		<div class="square img5">
		</div>
		<div class="square img6">
		</div>

		<div class="square img7">
		</div>
		<div class="square img8">
		</div>
		<div class="square img9">
		</div>

		<div class="square img10">
		</div>
		<div class="square img11">
		</div>
		<div class="square img12">
		</div>

	</div> <!-- game -->


	</body>
</html>